/*

TABLE OF CONTENT ::

1- RESET
2- COLORS
3- LOADER
4- MAIN CONTENT
5- MEDIA QUERY

*/

/*--------------------------------------
*********** RESET ***********
--------------------------------------*/

body {
    color: #000;
    overflow: hidden;
    background: #fff;
    line-height: 1.6em;
    font: 16px 'Raleway', sans-serif;
}

a {
    color: #212121;
}

a:hover, a:focus {
    color: #000;
}

a, a:hover, a:focus, button, label {
    cursor: pointer;
    text-decoration: none;
}

button {
    background: transparent;
}

label {
    font-weight: 100;
}

::selection {
    background: #212121;
    color: #fff;
}

::-moz-selection {
    background: #212121;
    color: #fff;
}

::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
    color: #888;
    opacity: 1;
}

::-moz-placeholder, .form-control::-moz-placeholder {
    color: #888;
    opacity: 1;
}

:-ms-input-placeholder, .form-control:-ms-input-placeholder {
    color: #888;
    opacity: 1;
}

:-moz-placeholder, .form-control:-moz-placeholder {
    color: #888;
    opacity: 1;
}

textarea {
    height: 120px;
    resize: none;
}

ul, ol {
    list-style-position: inside;
}

a[href=""] {
    display: none;
}

a, input, select, textarea, button {
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.animate-box {
    transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
}

/*--------------------------------------
*********** COLORS ***********
--------------------------------------*/

.text-primary {
    color: #212121 !important;
}

.bg-primary {
    background-color: #212121 !important;
}

.progress-bar {
    background-color: #FFB99F !important;
}

.btn {
    position: relative;
    border-radius: 0;
}

.btn:focus {
    box-shadow: none !important;
}

.btn-primary, .btn-outline-primary:hover, .btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-primary.disabled, .btn-primary:disabled {
    background: #212121;
    border-color: #212121;
    color: #fff;
}

.btn-outline-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active {
    background: transparent;
    border-color: #212121;
    color: #212121;
}

/*--------------------------------------
*********** LOADER ***********
--------------------------------------*/

.pre-load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #fff;
}

.pre-load img {
    position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/*--------------------------------------
*********** MAIN CONTENT ***********
--------------------------------------*/

.navbar a img, .btn img {
    height: 20px;
    vertical-align: sub;
}

.navbar-brand {
    font-size: 1.6rem;
    font-weight: 900;
}

.card, .form-control {
    border: 2px solid #888;
}

.progress {
    position: relative;
    height: 30px;
    border: 1px solid #888
}

.progress span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-transform: uppercase;
    z-index: 2;
}

.p-with-lines:before, .p-with-lines:after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 25%;
    background-color: #ccc;
}

.input-holder {
    position: relative;
}

.input-holder img {
    position: absolute;
    height: 26px;
    top: 7px;
    right: 7px
}

/*--------------------------------------
*********** MEDIA ***********
--------------------------------------*/

@media (max-width: 767px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}